.home {
    /* background-color: bisque; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:15rem;
    margin:0;
    padding-left: 20px;
    height: 600px;
  }
  
  /* text container  */
  .text-container {
    display: flex;
    flex-direction: column;
    width:1000px;
  }
  
  .title {
    text-wrap: wrap;
    margin-bottom: 1rem;
    font-style: normal;
    font-weight: 600;
    font-size: 72px;
  }
  
  .description {
    margin-bottom: 12px;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
  }
  /* boton */
  .contact-button{
    margin-top:15px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    border: 1px solid #25d365c8;
    border-radius: 16px;
    background-color:#25D366;
    padding: 10px 20px;
    width: 200px;
    color: white;
    font-size:larger;
 }

 .contact-button:hover {
    transform: translate3d(-1px, -1px, 0);
    background-image: linear-gradient(to right, #25D366, #0abde3);
    background-size: 200% auto;
    color: white;
    font-weight: bolder;
  }
  
  .rating-container{
    display: flex;
    justify-content: row;
    align-items: flex-end ;
    gap:15px;
    margin-top: 30px;
    height: 30px;
  }
  .about{
    border-left: 1px solid black ;
    padding-left: 20px;
    height: 30px;
    font-size:18px;
  }
  
  /* Imagen container  */

  .image-container {
    display:flex;
    justify-content: left;
    width: 70%;

  }
  
  .image-container img {
    z-index: 2;
    border-radius: 30px 0 0 30px;
    max-width: 100%;
    height: auto; 
  }

  .dots-background {
    position: absolute;
    top: 90px;
    opacity: 0.04;
    z-index: 1; /* Esto coloca el fondo de puntos debajo de la imagen */
    margin-left:47%;
    width: 18%;
}

@media (max-width: 800px) {
  .home {
    margin-left:0;
    padding-left: 0;
    flex-direction: column;
    gap: 1rem;
    padding-left: 10px;
    height: auto;
  }
  .text-container {
    width: 100%;
    margin-left:12px;
  }
  .title{
    font-size: 48px;
  }
  .description {
    font-size: 18px;
  }
  .rating-container{
    display:none;
  }
  .image-container {
    width:400px;
    padding-left:5rem;
  }
  .image-container img {
    align-self: flex-end;
  }
  .dots-background {
    display:none;
  }
}


@media (min-width: 700px) and (max-width: 1300px) {
  .home {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding-left: 15px;
    height: auto;
  }
  .text-container {
    width: 80%;
    margin-left:3rem;
  }
  .title{
    font-size:60px;
  }
  .description {
    font-size: 25px;
  }
  .rating-container{
    width:80%;
    display:flex;
    align-items: flex-start;
  }
  .image-container {
    width:100%;
    /* margin-left:30rem; */
    align-items: flex-end;
  }
  .image-container img {
    max-width: 100%;
    align-self: flex-end;
  }
  .dots-background {
    display:none;
  }
}


@media (min-width: 1450px) {
  .home{
    margin: 5rem 0 8rem 5rem;
   
  }
  .text-container {
    width: 80%;
    margin-left:3rem;
  }
  .title{
    font-size:80px;
  }
  .description {
    font-size: 32px;
  }

  .contact-button{
    font-size:xx-large;
    width: 400px;

  }
  .about{
    font-size:28px;
  }
  .dots-background {
    top:80px;
    margin-left:50%;
  }

}