nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 20px;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
    gap:1.8rem;
  }
  
  .logo-container img {
    margin-right: 10px;
    height: 70px;
  }
  
  .logo-name {
    color: rgba(0, 0, 0, 0.845);
    font-weight: bold;
    font-size: 2.5rem;
  }

  @media (min-width: 1850px) {
    nav{
      height:50px;
    }
  }