nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 20px;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
    gap:15px;
  }
  
  .logo-container img {
    margin-right: 10px;
    height: 50px;
  }
  
  .logo-name {
    color: rgba(0, 0, 0, 0.845);
    font-weight: bold;
    font-size: 1.5rem;
  }
