nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid black;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
    gap:25px;
  }
  
  .logo-container img {
    height: 50px;
    margin-right: 10px;
  }
  
  .logo-name {
    color: rgba(0, 0, 0, 0.845);
    font-size: 1.5rem;
    font-weight: bold;
  }

